<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>LEKS</title>{% endblock %}
  {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'basestyle.css' %}">
</head>
<body>
	<div id='topbar' class='fixedElement'>
		<h1 id='leks'>LEKS</h1>
		{% if user.is_authenticated %}
		    <a class="button rightstuff" href="{% url 'logout'%}?next={{request.path}}" >Logout</a> 
		    <h2 class='rightstuff'>{{ user.get_username }}</h2>
		 {% else %}
		    <a class="button rightstuff" href="{% url 'login'%}?next={{request.path}}" >Login</a>   
		 {% endif %} 
	</div>
	<div id='content'>
		{% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}
  		{% block content %}<!-- default content text (typically empty) -->{% endblock %}
	</div>
  
</body>
</html>