body {
	margin: 0;
}
#topbar {
	padding-left: 2vw;
	background-color: #27322A;
}
#topbar h1 {
	color: #FFFFFF;
}
.fixedElement {
    position:fixed;
    top: 0;
    width:100%;
    z-index: 2;
    height: 75px;
}
#content {
	position: relative;
	z-index: 1;
	margin-top: 100px;
	padding-left: 1vw;
	padding-right: 2vw;
}
#leks {
	float: left;
}
#username {
	float: right;
}
#login {
	float: right;
	margin-right: 5vw;
}
#logout {
	float: right;
}
.rightstuff{
	margin-right: 2vw;
	float: right;
	color: #FFFFFF;
}
.button {
	margin-right: 3vw;
	position: relative;
	top: 50%;

    transform: translateY(-50%);
	background: #4C5F48;
    padding: 1vh 2vw;

    display: block;
    text-align: center;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.button:hover {
	background: #97B098;
}