li a {
	font-size: 18pt;
    color: green;
}
#submit-container {
	grid-area: submit;
	background-color: #337be8;
	border: none;
	padding: 20px;
	border-radius: 5px; 
}
#submit {
	width: 100%;

	
	color: white;
	text-align: center;

	display: inline-block;
	cursor: pointer;
	font: Roboto;
	font-size: 15px
		
}
#posts-list { 
  background: #e6e6e6;
  grid-area: main;

  padding: 10px 15px;
}
#logo {
  height: 20%;
  width: 25%;
  position: relative;
}

#topics-list {
	grid-area: sidebar;

	background: #e6e6e6; 
}
body { 
  background: #ffffff; 
  color: rgb(0, 0, 0); 
  font-family: Roboto, Arial, Helvetica, sans-serif, Arial, sans-serif; 
  margin: 0; 
  padding: 0; 
}
.no-bullets {
    list-style-type: none;
    margin-top: 0px;
    padding: 0px;
}
.button {
  background-color: #337be8;
  border: none;
  border-radius: 5px; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  width: 100%;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 8px;
  font: Roboto;
  font-size: 15px
}
.container{
  display: grid;
  width: 90%;
  height: 90vh;
  margin: auto auto;
  
  grid-template-columns: 1fr 0.6fr 0.01fr 1fr;
  grid-template-rows: auto 0.02fr 1fr auto;
  grid-gap: 20px;
  
  grid-template-areas: "header   header   header   header"
  				 	   "submit   submit   .   ."
                       "main     main     .     sidebar"
                       "footer   footer   footer   footer";
}

.header {
	padding: 25px;
	margin-top: 2vh;
  background: #FFFFFF;
  grid-area: header;
}

.footer {
  background: #337be8;
  grid-area: footer;

  color: white;
  font-size: 20px;
  padding: 20px;
}