{% extends "base_generic.html" %}

{% block content %}
    <h1>My abits</h1>

    {% if mathinstance_list %}
    <ul>

      {% for abit in mathinstance_list %} 
      <li>
        <a href="/abit/{{ abit.id }}">{{abit.title}}</a>      
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no abits.</p>
    {% endif %}
    {% if user.is_authenticated %}
      <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type='submit' value='CREATE'/>
      </form>
{% endif %}

{% endblock %}