{% extends "base_generic.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load static %}
	<script type="text/javascript" src="{% static 'abit/jquery-3.3.1.min.js' %}"></script>
</head>
<body>
	<h1>Pages</h1>
	<ul>
		{% for page in object_list %}
			<li>
				<a>{{page.index}}</a>
			</li>
		{% empty %}
			<li>What the fuck went wrong here</li>
		{% endfor %}
	</ul>
	<textarea id="input" cols="100" rows="20"></textarea><br/>
	
	<script>
	{% for page in object_list %}
		document.querySelector('#input').value = '{{page.content}}'
	{% endfor %}	
	
	var currentindex = 0;
    var instanceKey = {{ instance_key_json }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/abit/' + instanceKey + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#input').onkeyup = function(e) {

       var messageInputDom = document.querySelector('#input');
	   var message = messageInputDom.value;
	   chatSocket.send(JSON.stringify({
	   		'index': currentindex,
            'message': message
        }));

    };

</script>
</body>

</html>
{%endblock%}