<!doctype html>
<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'posts/createstyle.css' %}">
	<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
	
	<title>New Submission</title>
</head>
<body>
	{% block content %}
	    <h1>New Submission</h1>
	    <form method="POST" class="post-form" name="form" id="post-form">{% csrf_token %}
	        {{ form.as_p }}
	        <button type="submit" class="save btn btn-default">Save</button>
	    </form>
	    {% endblock %}
	    <!--
	<div id="form-container" class="container">
	  <form>
	    
	    <div class="row form-group">
	      <label for="about">About me</label>
	      <input name="about" type="hidden">
	      <div id="editor-container">
	        <p>Write smth</p>
	      </div>
	    </div>
	    <div class="row">
	      <button class="btn btn-primary" type="submit">Save Profile</button>
	    </div>
	  </form>
	</div>
	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
	
    <script>
	  var quill = new Quill('#editor-container', {
		  modules: {
		    toolbar: [
		      ['bold', 'italic'],
		      ['link', 'blockquote', 'code-block', 'image'],
		      [{ list: 'ordered' }, { list: 'bullet' }]
		    ]
		  },
		  placeholder: 'Compose an epic...',
		  theme: 'snow'
		});

	  $('#post-form').on('submit', function(event){
	  	document.getElementById("submission_input").innerHTML = JSON.stringify(quill.getContents);
	  });
	  $('editor-container').change(function(){
	  	document.getElementById("submission_input").innerHTML = JSON.stringify(quill.getContents);
	  });

		var form = document.querySelector('form');
		form.onsubmit = function() {
		  // Populate hidden form on submit
		  var about = document.querySelector('input[name=about]');
		  about.value = JSON.stringify(quill.getContents());
		  
		  console.log("Submitted", $(form).serialize(), $(form).serializeArray());
		  
		  // No back end to actually submit to!
		  alert('Open the console to see the submit data!')
		  return false;
		};
	</script>
-->

    <script type="text/javascript" src="{% static 'posts/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'posts/createpost.js' %}"></script>
</body>
</html>